.App{
  margin:1rem;
}

.user-form > * {
  margin:0.2rem;
}
.graph{
  border:1px solid black;
  display:flex;
  flex-direction: column;
  max-width:50rem;
  max-height:30rem;
}
.viewBtns{
  display:flex;
  justify-content: center;
}
.viewBtns > *{
  margin:0.4rem;
}
.viewBtns button{
  width:5rem;
}